*{
    font-family: 'Roboto', sans-serif;
    box-sizing:border-box;
}
.home-top{
    height: 45vw;
    width:100%;
    /* border:1px solid red; */
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/d049a3bd-40ee-411b-9f16-d1def798d43b/d6aeb5a9-b14c-42d4-999e-c2f0d6c60f04/IN-en-20230313-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    background-size:cover;
    filter: brightness(0.4);
    position: absolute;
    top:0;

}
.home-top-on{
    position: absolute;
    top:0;
    z-index: +1;
    height: 45vw;
    width:100%;
    /* border:1px solid red; */
}

.home-top-nav{
    /* border:1px solid white; */
    height: 15%;
    width:80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-top-nav >div:nth-child(1){
    width:15%;
    height:50%;
}
.home-top-nav >div:nth-child(1)>img{
    width:100%;
    height:100%;
}
.home-top-nav >div:nth-child(2){
    display: flex;
    width: 20%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.home-top-nav >div:nth-child(2) >div{
    display:flex;
    color:white;
    width:50%;
    border:1px solid grey;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    height: 30%;
}
.home-top-nav >div:nth-child(2) >div>p ,i{
    font-size: 1vw;
}
.home-top-nav >div:nth-child(2)> button{
    width: 39%;
    height: 30%;
    border-radius: 5px;
    background-color: #e50914;
    color:white;
    border:none;
    outline:none;
    font-weight: bold;
    font-size: 1vw;
}
.home-top-mid{
    /* border:1px solid white; */
    height:55%;
    width:80%;
    margin:auto;
    margin-top: 13%;
    color:white;
}
.home-top-mid >div:nth-child(1){
    /* border:1px solid white; */
}
.home-top-mid >div:nth-child(1) >h1{
    font-size: 3.5vw;
    font-weight: bold;
}
.home-top-mid >div:nth-child(1) >p{
    font-size: 2vw;
    font-weight: 500;
}
.home-top-mid >div:nth-child(2){
    /* border:1px solid red; */
    height: 50%;
}
.home-top-mid >div:nth-child(2) >p{
    font-size: 1.5vw;
}
.home-top-mid >div:nth-child(2)>div{
    /* border:1px solid blue; */
    height: 25%;
    width:55%;
    margin:auto;
    display: flex;
    justify-content: space-evenly;
}
.home-top-mid >div:nth-child(2)>div input, .home-input{
    width:60%;
    background: transparent;
    border: 1px solid grey;
    outline: none;
    padding: 0 10px ;
    font-weight: bolder;
    border-radius: 5px;
    caret-color: white;
    color:white;
    font-size: 1vw;
}
.home-top-mid >div:nth-child(2)>div button, .home-button{
    width:30%;
    background-color: #e50914;
    color: white;
    font-size: 1.6vw;
    border-radius: 5px;
    border: none;
    outline: none;
}
::placeholder {
    color: rgb(168, 167, 167);
    opacity: 1; /* Firefox */
  }
.home-tv{
     border:10px solid #232323;
     border-left:none;
     border-right:none;
     width:100%;
     height:35vw;
     margin-top: 45vw;
     background-color:#000000;
     color:white;
}
.home-tv >div{
    /* border:1px solid white; */
    height:80%;
    width:75%;
    margin: 4% auto;
    display:flex;
}
.home-tv-content,.home-section-content{
    width:50%;
    align-self:center;
    text-align:left;
    padding-left:5%;
}
.home-tv-video,.home-section-video{
    /* border:1px solid white; */
    width:50%;
    height:100%;
    /* background-image:url("https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png");
    background-size:100% 100%; */
}
.home-tv-video >div:nth-child(1),.home-section-video >div:nth-child(1){
    position: relative;
    top:20%;
    z-index: +1;
    /* border:1px solid white; */
    margin:auto;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 63%;
}
.home-tv-video >div:nth-child(2),.home-section-video >div:nth-child(2){
    height:100%;
    width:100%;
    position:relative;
    bottom:64%;
    /* border:1px solid blue; */
    z-index:+2;
}
.home-tv-video >div:nth-child(2) >img,.home-section-video >div:nth-child(2) >img{
    height: 100%;
    width:100%;
}
.home-tv-content >h1,.home-section-content >h1{
    font-size: 4vw;
    font-weight: bolder;
}
.home-tv-content >p,.home-section-content >p{
    font-size: 1.5vw;
}
.home-section{
    border:10px solid #232323;
    border-top: 0.1px solid #232323;
    border-left: none;
    border-right: none;
     width:100%;
     height:35vw;
     background-color:#000000;
     color:white;
}
.home-section>div{
    /* border:1px solid white; */
    height:80%;
    width:75%;
    margin: 4% auto;
    display:flex;
}
.home-section>div >div{
    height: 100%;
    width:50%;
    /* border:1px solid white; */
}
.home-section-left >div:nth-child(1){
    width:100%;
    height:100%;
    position: relative;
    z-index: +1;
    top: 0;
}
.home-section-left >div:nth-child(1) >img{
    width:100%;
    height:100%;
}
.home-section-download{
    width:55%;
    height:20%;
    margin: auto;
    position: relative;
    z-index: +2;
    border:1px solid grey;
    border-radius: 10px;
    bottom:30%;
    background-color: #000000;
    display: flex;
    justify-content: space-evenly;
}
.home-section-download >div{
    /* border:1px solid white; */
    width:33%;
}
.home-section-download >div:nth-child(1){
    height:80%;
    margin: auto;
    width:20%;
}
.home-section-download >div:nth-child(1) >img{
    height:100%;
    width:100%;
}
.home-section-download >div:nth-child(2){
    height:50%;
    margin: auto;
    width:50%;
}
.home-section-download >div:nth-child(2)>p{
    font-size: 1vw;
    margin: 0;
    text-align: left;
}
.home-section-download >div:nth-child(2)>p:nth-child(1){
    font-weight: bold;
    font-size:1.2vw;
}
.home-section-download >div:nth-child(2)>p:nth-child(2){
    color:#006ad7;
}
.home-section-download >div:nth-child(3){
    height:60%;
    margin: auto;
    width:15%;
}
.home-section-download >div:nth-child(3) >img{
    height:100%;
    width:100%;
}
.home-section-right{
    text-align: left;
}
.home-section-right >h1{
    margin-top: 20%;
    font-size: 3.5vw;
}
.home-section-right >p{
    font-size: 1.8vw;
}
.home-section-adjust{
    /* border:1px solid white; */
    height:80%;
    width:75%;
    margin: 4% auto;
    display:flex;
}
.home-section-video >div:nth-child(1){
    top:10%;
    max-width: 63%;
    max-height: 47%;
}
.home-section-video >div:nth-child(2){
    bottom:47%;
}
.home-section-content >h1{
    margin-top: 20%;
}
.home-questions{
    border-bottom:10px solid #232323;
    border-top: none;
    border-left: none;
    border-right: none;
    width:100%;
    padding: 5% 0;
    /* height:35vw; */
    background-color:#000000;
    color:white;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.home-questions >div:nth-child(1){
    /* border:1px solid white; */
    /* height:100px; */
    margin: auto;
    width:80%;
}
.home-questions >div:nth-child(1) >h1{
    font-size: 3vw;
    font-weight: bolder;
}
.home-questions-section{
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
}
.home-questions-section >div{
    /* border:1px solid white; */
    margin:0.5vw 1vw;
}
.home-que{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 2%;
    background-color:#2d2d2d;
}
.home-que >div{
    display: flex;
    align-items: center;
    /* border:1px solid white;  */
}
.home-que >p, .home-que >div >i{
    font-size:1.5vw;
    /* border:1px solid white; */
}
.home-que >div >i{
    font-size:2vw;
    cursor:pointer;
}
.home-ans{
    border-top:1px solid #000;
    background-color:#2d2d2d;
    text-align:left;
    font-size:1.5vw;
    padding: 1% 2%;
}
.home-membership{
    /* border:1px solid white;  */
    height:8vw;
    width:60%;
    margin:2% auto;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}
.home-membership >div:nth-child(1){
    height:40%;
    width:100%;
}
.home-membership >div:nth-child(1) >p{
    font-size:1.3vw;
}
.home-membership >div:nth-child(2){
    /* border:1px solid blue; */
    height:40%;
    width:70%;
    margin:auto;
    display:flex;
    justify-content:space-evenly
}
.home-membership >div:nth-child(2) >input{
    width:65%;
}
.home-membership >div:nth-child(2) >button{
    width:30%;
}
.home-membership >div:nth-child(2) >button >i{
    font-size: 1.5vw;
}
 
/* footer */
#footer{
    height:30vw;
    width:100%;
    border-top:0.1px solid transparent;
    background-color:#000000;
    color:grey;
}
#footer >div{
    /* border:1px solid blue; */
    height:85%;
    width:80%;
    margin: 3% auto;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items: center;
}
.footer-t{
    /* border:1px solid red; */
    width:100%;
    height:15%;
    text-align:left;
}
.footer-t>p{
    font-size:1.2vw;
}
.footer-m{
    /* border:1px solid red; */
    width:100%;
    height:60%;
    display:flex;
    justify-content:space-evenly;
}
.footer-m >div{
    /* border:1px solid blue; */
    width:33%;
    height:100%;
    text-align: left;
    font-size: 1.1vw;
    text-decoration:underline;
}
.footer-b{
    /* border:1px solid red; */
    width:100%;
    height:20%;
}
.footer-b >div:nth-child(1){
    border:1px solid grey;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    width:10%;
    height:40%;
    color:white;
    border-radius:5px;
}
.footer-b >div:nth-child(1) >p,i{
    font-size:1.1vw;
}
.footer-b >p{
    text-align:left;
    font-size:1.1vw;
}